body{
    overflow: auto;
}
.homeBody
{
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}
.homeHeader
{
    height: 10%;
    background-color: #fff;
    width: 83%;
    margin-top: 1.5%;
    border-radius: 5px;
    display: flex;
}
.homeElements
{
    width: 85%;
    height: 90%;
    margin-top: 1.5%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.profileBox
{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 18%;
    height: fit-content;
    min-height: 40vh;
    border-radius: 3px;
    padding: 5px;
    box-sizing: border-box;
}
.profileBox img
{
    width: 13vh;
    height: 13vh;
    border-radius: 50%;
}
.profileName
{
    color: #337AB7;
    font-weight: bold;
    font-size: 18px;
}
.profileBox .createButton

{
    border: none;
    background-color: #337AB7;
    color: #fff;
    border-radius: 20px;
    padding: 7px 10px;
}
.contactList
{
    background-color: #fff;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 5px 5px 30px 5px;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 0.1);
}
.contactListHeading
{
    display: flex;
    color: #337AB7;
    font-weight: bold;
    font-size: 15px;
    padding: 20px 10px;
    border-bottom: 1px solid #ececec;
    position: sticky;
    top: 0;
    background-color: #fff;
}
.contactListItem
{
    display: flex;
    padding: 20px 10px;
    border-bottom: 1px solid #ececec;
    color: #505050;
    font-size: 14px;
    align-items: center;
}
.contactListItem>td , .contactListHeading>th
{
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 5px;
}
.listProfile,.listName
{
    width: 8.5%;
}
.listProfile img
{
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
.listEmail
{
    width: 17.5%;
}
.listPhone
{
    width: 17%;
}
.listButton
{
    width: 44%;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
}
.listButton button:hover
{
    background-color: #337AB7;
    color: #fff;
    transition: 0.3s;
}
.listButton button
{
    border: 1px solid #337AB7;
    background: none;
    color: #337AB7;
    font-size: 12px;
    padding: 7px;
    border-radius: 20px;
    min-width: 22%;
}
.editModal,.viewModal
{
    position: absolute;
    height: 92vh;
    width: 100%;
    background-color: #d8e5f196;
    display: flex;
    justify-content: center;
    top: 8vh;
    overflow: scroll;
}
.editForm
{
    background-color: #D8EDF7;
    width: 50%;
    height: fit-content;
    border: 4px solid #e4e4e4;
    display: flex;
    padding: 0 15px;
    box-sizing: border-box;
}
.editFormBody
{
    background-color: #fff;
    width: 72%;
    padding: 50px;
    box-sizing: border-box;
}
.editFormImage,.viewFormImage
{
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 30%;
}
.modalButtons
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.modalButtons button
{
    width: 30%;
    background: #337AB7;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 20px;
}
.modalHeading
{
    background-color: #D8EDF7;
    text-align: center;
    padding: 10px 0;
    color: #1b578b;
    font-weight: bold;
    font-size: 20px;
}
.modalSubHeadng
{
    color: #337AB7;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid #000;
    margin-top: 30px;
}
.editModalElement
{
    display: flex;
    margin: 15px 0;
    justify-content: space-between;
    color: #666;
}
.editModalElement>div
{
    display: flex;
    flex-direction: column;
}
.formElement
{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    padding: 10px 0;
}
.formElement:focus
{
    outline: none;
}
.formElement::placeholder
{
    color: #aaa;
    font-size: 13px;
}
.editModalElement>div label
{
    color: #337AB7;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}
.width_30
{
    width: 30%;
}
.width_20
{
    width: 20%;
}
.width_45
{
    width: 45%;
}
.editFormImage img
{
    border-radius: 50%;
    width: 5.5vw;
    height: 5.5vw;
    margin-top: 50%;
}
.viewFormImage img
{
    width: 7vw;
    height: 7vw;
    margin-top: 50%;
}
.contactDetails
{
    margin: 20px 0;
    display: flex;
    font-size: 13px;
}
.contactItemName
{
    color: #337AB7;
    width: 40%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 10px;
}
.contactItemValue
{
    width: 60%;
    color: #505050;
}
.bootstrap-select
{
    width: 100% !important;
}
.contactListContainer
{
    width: 80%;
    overflow-y: scroll;
}
.openExcel
{
    background-color: #1D6F42 !important;
    color: #fff !important;
}
#excelModal
{
    position: absolute;
    height: 92%;
    width: 100%;
    background-color: #969696a2;
    justify-content: center;
    display: flex;
}
.excelModalBody
{
    width: 50%;
    height: fit-content;
    min-height: 50%;
    top: 8vh;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.getExcelBtns
{
    margin-left: auto;
}
.getExcelBtns button
{
    padding: 4px 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    margin: 10px 5px;
} 
.dataTemplateBtn
{
    background-color: #4993d3;
}
.plainTemplateBtn
{
    background-color: #5caa7f;
}
.excelModalHeading
{
    width: 70%;
    color: #5b95c9;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid #4993d3;
}
.excelModalContent
{
    margin: auto 0;
}
.excelModalInput
{
    margin: 20px 0;
    color: #337AB7;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}
.excelModalInput label
{
    margin-bottom:0;
}
.uploadExcel
{
    margin-top: 30px;
}
.uploadExcel button
{
    border-radius: 20px;
    padding: 5px 15px;
    border: 1px solid #337AB7;
}
.closeExcelModal
{
    background: none;
    color: #337AB7;
}
.submitExcel
{
    background-color: #337AB7;
    color: #fff;
}
.errorMessage
{
    color: #fd0202;
    font-size: 12px;
}